# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea
/libraries
/logs
/world_the_end
/world_nether
/world
whitelist.json
usercache.json
/plugins/WorldEdit/.archive-unpack
/plugins/SkinsRestorer/locales
/plugins/LuckPerms/translations
wepif.yml
version_history.json
server.properties
spigot.yml
crash-reports/crash-2026-09-26_16.38.01-server.txt
help.yml
ops.json
permissions.yml
eula.txt
banned-ips.json
banned-players.json
bukkit.yml
/plugins/WorldGuard
/plugins/WorldEdit
/plugins/Werewolf/players
/plugins/Werewolf
/plugins/ViaVersion
/plugins/ViaBackwards
/plugins/Vault
/plugins/VampireRevamp
/plugins/Towny
/plugins/spark
/plugins/SkinsRestorer
/plugins/PlaceholderAPI
/plugins/NBTAPI
/plugins/NatureRevive
/plugins/Movecraft/localisation
plugins/Magic/worlds.yml
plugins/Magic/messages.yml
/plugins/Magic/defaults
/plugins/Magic/data
plugins/LuckPerms/luckperms-h2-v2.mv.db
plugins/LuckPerms/contexts.json
/plugins/faststats
/plugins/Essentials
plugins/Denizen/server_flags.dat
plugins/Denizen/secrets.secret
/plugins/Denizen/midi
/plugins/CoreProtect
/plugins/CalebCompass
/plugins/BetonQuest/lang
/plugins/bStats
/plugins/BetonQuest/.meta
/plugins/BetonQuest/.cache
/plugins/AuraSkills/userdata
/plugins/AuraSkills/messages
/plugins/AuraSkills/regiondata
/plugins/AuraSkills/backups
commands.yml
config/paper-global.yml
/config
/plugins/.paper-remapped
/plugins/BetonQuest/fonts
plugins/BetonQuest/database.db
